@use "../../styles/partials/mediaQuery" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.list {
  padding: 0 1rem;
  margin-bottom: 2rem;

  &__heading {
    @include section-header-mobile;
    color: $brainFlixSilver;
    font-weight: 700;
  }

  @include respond(tablet) {
    padding: 0 2.25rem;
    width: 50%;

    &__heading {
      @include section-header-dt;
      margin: 1.5rem 0;
    }
  }

  @include respond(desktop) {
    float: left;
    width: 50%;
    padding-left: 2rem;
  }
}
