@use '../../styles/partials/mediaQuery' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.button {
    color: $brainFlixWhite;
    background-color: $brainFlixBlue;
    border: none;
    border-radius: .25rem;
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include labels-and-buttons-mobile;
    font-weight: 700;

    @include respond(tablet) {
        display: none;
    }
}

.button-tablet {
    display: none;

    @include respond(tablet) {
        display: flex;
        margin-right: 1rem;
    }

}

