/*---------------------------------------------------------*/
/*                      FONT FACE                          */
/*---------------------------------------------------------*/

@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
}

@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
}

/*---------------------------------------------------------*/
/*                    FONT STYLES                          */
/*---------------------------------------------------------*/

// MOBILE

@mixin page-header-mobile(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin section-header-mobile(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: .75rem;
    line-height: 1.25rem;
}

@mixin subheader-mobile(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: .8125rem;
    line-height: 1.125rem;
}

@mixin body-copy-mobile(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: .8125rem;
    line-height: 1.125rem;
}

@mixin labels-and-buttons-mobile(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: .625rem;
    line-height: 1.25rem;
}


// TABLET & DESKTOP 

@mixin page-header-dt(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: 2.0625rem;
    line-height: 2.75rem;
}

@mixin section-header-dt(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: .75rem;
    line-height: 1.25rem;
}

@mixin subheader-dt(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: .875rem;
    line-height: 1.375rem;
}

@mixin body-copy-dt(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: .875rem;
    line-height: 1.375rem;
}

@mixin labels-and-buttons-dt(){
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: .75rem;
    line-height: 1.25rem;
}