/*---------------------------------------------------------*/
/*                      COLORS                             */
/*---------------------------------------------------------*/

// PRIMARY

$brainFlixBlack: #323232;
$brainFlixBlue: #0095ff;
$brainFlixSilver: #afafaf;
$brainFlixWhite: #ffffff;

// SECONDARY

$brainFlixDarkBlack: #000000;
$brainFlixDarkBlue: #0065ad;
$brainFlixMercury: #e1e1e1;
$brainFlixAlabaster: #fafafa;
