/*---------------------------------------------------------*/
/*                      COLORS                             */
/*---------------------------------------------------------*/

// PRIMARY 

$brainFlixBlack: #323232;
$brainFlixBlue: #0095FF;
$brainFlixSilver: #AFAFAF;
$brainFlixWhite: #FFFFFF;

// SECONDARY 

$brainFlixDarkBlack: #000000;
$brainFlixDarkBlue: #0065AD;
$brainFlixMercury: #E1E1E1;
$brainFlixAlabaster: #FAFAFA;