/*---------------------------------------------------------*/
/*                  MEDIA QUERY MIXIN                      */
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*                      COLORS                             */
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*                      FONT FACE                          */
/*---------------------------------------------------------*/
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
/*---------------------------------------------------------*/
/*                    FONT STYLES                          */
/*---------------------------------------------------------*/
.selected {
  padding: 0;
  width: 100%;
}
.selected__video {
  width: 100%;
  height: auto;
}
.selected__title {
  padding: 1.5rem 1rem 1rem 1rem;
  font-family: avenir, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  font-weight: 700;
}
.selected__list {
  margin: 0 1rem;
  padding: 1rem 0;
  list-style: none;
  border-bottom: solid #AFAFAF 1px;
  border-top: solid #AFAFAF 1px;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
.selected__item {
  font-family: avenir, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #AFAFAF;
  font-weight: 400;
}
.selected__item:nth-child(1) {
  padding-bottom: 1rem;
}
.selected__img {
  padding-right: 1rem;
}
.selected__item-modifier {
  color: #323232;
  font-weight: 700;
}
.selected__description {
  padding: 1rem;
  font-family: avenir, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .selected {
    padding: 0 2.25rem;
  }
  .selected__video {
    background-color: #000000;
  }
  .selected__title {
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
  .selected__list {
    flex-direction: row;
    justify-content: space-between;
    border-top: none;
  }
  .selected__subcontainer {
    display: flex;
    flex-direction: row;
  }
  .selected__item {
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .selected__item:nth-child(odd) {
    padding-right: 1rem;
  }
  .selected__item-modifier {
    font-weight: 700;
  }
  .selected__description {
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}/*# sourceMappingURL=SelectedVideo.css.map */