@use '../../styles/partials/mediaQuery' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.selected {
    padding: 0;
    width: 100%;

    &__video-background {
        background-color: $brainFlixDarkBlack;
    }

    &__video {
        width: 100%;
        height: auto;
    }

    &__title {
        padding: 1.5rem 1rem 1rem 1rem;
        @include page-header-mobile;
        color: $brainFlixBlack;
        font-weight: 700;
    }

    &__list {
        margin: 0 1rem;
        padding: 1rem 0;
        list-style: none;
        border-bottom: solid $brainFlixSilver 1px;
        border-top: solid $brainFlixSilver 1px;
        display: flex;
        align-items: flex-start;
        gap: 3rem;
    }


    &__item {
        @include body-copy-mobile;
        color: $brainFlixSilver;
        font-weight: 400;

        &:nth-child(1) {
            padding-bottom: 1rem;
        }

    }

    &__img {
        padding-right: 1rem;
    }

    &__item-modifier {
        color: $brainFlixBlack;
        font-weight: 700;
    }

    &__description {
        padding: 1rem;
        @include body-copy-mobile;
        color: $brainFlixBlack;
        font-weight: 400;
    }

    @include respond(tablet) {

        &__video-background {
            padding: 0 2.25rem;
        }

        &__video {
            background-color: $brainFlixDarkBlack;
        }

        &__content-container {
            padding: 0 2.25rem;
        }
        
        &__title {
            @include page-header-dt;
            font-weight: 700;
        }

        &__list {
            flex-direction: row;
            justify-content: space-between;
            border-top: none;
            margin: 0;
        }

        &__subcontainer {
            display: flex;
            flex-direction: row;
        }

        &__item {
            @include body-copy-dt;
            font-weight: 400;

            &:nth-child(odd) {
                padding-right: 1rem;
            }
        }

        &__item-modifier {
            font-weight: 700;
        }

        &__description {
            @include body-copy-dt;
            font-weight: 400;
            padding: 1rem 0;
        }

        @include respond(desktop) {
            width: 100%;

            &__video-background {
                width: 100%;
                padding: 0 10rem;
            }

            &__content-container {
                float: left;
                width: 50%;
                padding-right: 0;
                border-right: solid $brainFlixSilver 1px;
            }

            &__list {
                padding-right: 1rem;
            }
        }
    }
}
