@use '../../styles/partials/mediaQuery.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;


.upload {
    margin-top: 1rem;
    border-top: solid $brainFlixMercury 1px;
    padding: 1rem 1rem;

    &__title {
        @include page-header-mobile;
        font-weight: 700;
        color: $brainFlixBlack;
        padding-bottom: 0.5rem;
    }

    &__text {
        @include section-header-mobile;
        font-weight: 600;
        color: $brainFlixSilver;
        padding-top: 2rem;
        padding-bottom: 0.25rem;
    }

    &__thumb-section {
        width: 100%;
        height: auto;
    }

    &__thumb-image {
        width: 100%;
        height: auto;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-title {
        width: 100%;
        min-height: 2.5rem;
        padding: 1rem;
        border-radius: .25rem;
        border: solid 1px $brainFlixMercury;
        @include body-copy-mobile;
        color: $brainFlixBlack;
    }

    &__form-description {
        @extend .upload__form-title;
        margin-bottom: 2rem;
    }

    &__cancel {
        border: none;
        background-color: $brainFlixWhite;
        color: $brainFlixBlue;
        @include section-header-mobile;
        font-weight: 600;
        padding: 2rem 0 1rem;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    &__link {
        text-decoration: none;
    }

    @include respond(tablet) {
        padding: 2.25rem 2rem 2rem;

        &__title {
            @include page-header-dt;
        }

        &__text {
            border-top: solid 1px $brainFlixMercury;
            @include section-header-dt;
        }

        &__thumb-section {
            width: 75%;
        }
    
        &__thumb-image {
            width: 75%;
        }

        &__list {
            display: flex;
            justify-content: flex-end;
        }
        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;

        }

        &__cancel {
            padding: 0 1rem;
        }
    }

    @include respond(desktop) {
        padding: 5rem 5rem;

        &__form-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &__thumb-section {
            width: 40%;
            border-bottom: solid 1px $brainFlixMercury;
        }

        &__form {
            width: 60%;
            border-bottom: solid 1px $brainFlixMercury;
            padding-bottom: 2rem;
        }

        &__text {
            padding: .5rem;
            border: none;
        }

        &__form-title {
            padding: .5rem;
        }

        &__form-description {
            padding: .8rem;
        }

        &__list {
            padding-top: 1rem;
        }

    }
}