@use '../../styles/partials/mediaQuery' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.comments {
    padding: 0 1rem;
    
    &__title {
        @include subheader-mobile;
        font-weight: 700;
        color: $brainFlixBlack;
    }

    @include respond(tablet) {
        @include subheader-dt;
        font-weight: 700;
    }
}